body{
 font-family: Arial, sans-serif;
  background: url("images/Nasa webb telescope captures supernova.png") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
}

h1{
    margin-top: 20px;
    font-size: 2em;
    color: #c6ff00;
    letter-spacing: 3px;
    font-family: monospace;
    font: bold;
    -webkit-text-stroke: 1px black;
    font-size: 2.5em;
}

h2{
    margin-top: 10px;
    font-size: 2em;
    color: #c6ff00;
    letter-spacing: 2px;
    font-family: monospace;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.aText{
    font-size: 1.7em;
    color: #00bfff;
    letter-spacing: 1px;
    font-family: monospace;
    font-weight: bold;
    -webkit-text-stroke: 0.8px black;
    display: block;
    text-align: center;
}

.Pictures{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin-top: 40px;
   flex-wrap: wrap;

}

.Pictures img{
  width: 250px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0,0.8)
}

.Buttons{
margin-top: 30px;
display: flex;
justify-content: center;
gap: 100px;
}

.Buttons a{
text-decoration: none;
padding: 14px 28px;
border-radius: 10px;
background-color: #111;
color: #00bfff;
font-weight: bold;
font-size: 1.1em;
box-shadow: 0 0 10px rgba(0,0,0,0,0.6);
transition: 0.3s;
}

.buttons-wrapper{
    max-width: 720px;
    margin: 30px auto 0;
}
.Buttons a:hover{
    background-color: #222;
    color: #1e90ff;
}

.Buttons .home { 
    background: #111; color:#c6ff00; padding: 15px 32px; 
}


